.gallery {
    width: 100%;
    max-width: 1110px;
    box-sizing: border-box;
    margin: 0 auto;
    @media (max-width: 1199px){
        max-width: 940px;
    }
    @media (max-width: 959px){
        max-width: 640px;
    }
    @media (max-width: 639px){
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 58px;
        padding: 0 5px;
        @media (max-width: 479px){
            margin-bottom: 13px;
        }
    }

    &__title {
        @include title(#444);
    }

    &__arrows {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 479px){
            display: none;
        }
    }
}
.arrow {
    cursor: pointer;
    &:hover rect{
        fill: #A30C33;
        transition: .3s;
    }
    &:hover path{
        stroke: #F0F0F0;
        transition: .3s;
    }
    @media (max-width: 959px){
        width: 46px;
        height: 46px;
    }
    @media (max-width: 639px){
        width: 40px;
        height: 40px;
    }
}
.swiper{
    @media (max-width: 479px){
        padding: 0 5px !important;
    }
}
.swiper-wrapper {
    margin-bottom: 28px;
}
.swiper-img{
    width: 100%;
    object-fit: contain;
}
.swiper-pagination {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative !important;
    bottom: 0 !important;
    padding: 0 5px;
    width: 97% !important;
    margin: 0 auto;
    @media (max-width: 639px){
        display: none;
    }
}
.swiper-pagination-bullet{
    align-self: stretch !important;
    margin: 0 !important;
    width: 100% !important;
    height: 6px !important;
    border-radius: 0 !important;
}
.swiper-pagination-bullet-active{
    background: #A30C33 !important;
}