.header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    background-image: url(./imgs/bg.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    &__wrap{
        position: relative;
        top: 24%;
        padding: 156px 70px;
    }
    &__title {
        @include title(#444);
        line-height: 113%;
        max-width: 709px;
        margin: 0 0 64px 0;
    }

    &__btn {
        text-decoration: none;
        padding: 18px 28px;
        display: inline-block;
        border-radius: 8px;
        background: #B01736;
        color: #FFF;
        font-size: 15px;
        line-height: 20px;
        transition: .3s;
        &:hover{
            background: #D43152;
        }
    }
}
