.numbers {
    width: 100%;
    max-width: 895px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 96px;
    column-gap: 174px;
    &__num {
        margin: 0;
        font-weight: 500;
        color: #A30C33;
        font-size: 75px;
        line-height: 80%;
        margin-bottom: 8px;
        &_plus{
            font-size: 55px;
        }
    }

    &__txt {
        margin: 0;
        font-weight: 400;
        color: #444;
        font-size: 15px;
        line-height: 102%;
        max-width: 240px;
    }
}
