@import "styles/nav";
@import "styles/header";
@import "styles/about";
@import "styles/numbers";
@import "styles/map";

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 273px;
}
.red {
    color: #B01736;
    font-size: 29px;
    line-height: 120%;
}